<html>
<head>
	<title>OSDConf</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="scripts/jquery.js"></script>
	<script src="scripts/transit.js"></script>
	<script src="scripts/script.js"></script>
</head>
<body>
	<div id="mainContainer">
		<div class="header">
		</div>
		<div class="content">
			<div class="imageSelector">
				<div class="images"></div>
				<div class="buttonLeft"></div>
				<div class="buttonRight"></div>
			</div>
			<div class="updateSelectorContainer">
				<div class="updateTitle sectionTitle">Create or Select an update</div>
				<div class="updateSelector">
					<div class="makeUpdate">
						<div class="createUpdate">
							<textarea class="createUpdateInput" placeholder="Create your own update"></textarea>
							<div class="createUpdateMeta">
								
							</div>
						</div>
						<div class="selectUpdate">
							<div class="row1">
								<div class="contentSuggestion big"></div>
							</div>
							<div class="row2">
								<div class="contentSuggestion small"></div>
								<div class="contentSuggestion small"></div>
							</div>
						</div>
					</div>
					<div class="postUpdate">
						<div class="postToTwitter postButton">Post To Twitter</div>
						<div class="postToFacebook postButton">Post To Facebook</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer"></div>
	</div>

</body>
</html>